// Core variables and mixins
@import "variables.less";
@import "mixins.less";

a {
  cursor: pointer;
}
html,
body {
  height: 100%;
  background : url("../images/bg_tile.jpg") bottom left repeat;
  background-attachment: scroll;
  -webkit-font-smoothing: antialiased;
}
.padding10 {
  padding: 10px;
}

#site-container {
  min-height: 100%;
  max-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

#header {
  .nav {
    a:hover {
      color: @gray;
    }
  }
  .navbar {
    margin-bottom: 0px;
  }
  .navbar-nav.small {
    li {float:right!important;}
    h4 {color:#fff;font-family: 'Indie Flower', cursive;font-size: 1.8em;padding:5px 0px 0px 10px;clear: right;}
    a {
      padding: 5px!important;
      font-size: 1em;
      color: #06A1AF;
      padding: 4px!important;
      margin-right: 12px;
      float: right;
      img {
        margin-left:5px;
      }
    }
  }
  .navbar-default {
    background-color: transparent;
    border-color: transparent;
  }  
  .navbar-fixed-top {
    background: url('../images/bg_tile.jpg');
  }
  .categoryButton {
    border-right: 1px solid @gray;
    display:inline-block;
    background-position-x: -15px;
    height: 71px;
    width: 70px;
    background: url('../images/category-icons-with-hover.png') no-repeat;
    &:hover {
      background-position-x: -75px;
    }
    &.music {
      background-position-y: -150px;
    }
    &.arts {
      
    }    
    &.all {
      background-position-y: -75px
    }  
    &.family {
      background-position-y: -300px
    }  
    &.food {
      background-position-y: -225px;
    }              
  }
}

#main{

  .home-page, .event-detail, .business-detail, .error-page {
    padding: 80px 15px 0;
    background: url("../images/bg_vh.jpg") 0 0 repeat-x;
    background-attachment:scroll;
    min-height: 720px;    
  }
  .home-page {
    .eventGalleryHeader {
      text-align: center;
      .nearGroup {
        input {
          background-color: @gray-darker;
          color: #fff;
        }        
      }
      padding-bottom: 10px;
    }       
  }
  .event-detail, .business-detail {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    h2 {
      color: @gray-lighter;
      margin-top: 0px;
      padding-left: 10px;
      font-size: 3em;
    }
    h3 {
      font-size: 1.25em;
      font-family: Helvetica, Arial, sans-serif;
      font-weight: 700;
    }
    .shareIcons {
      padding: 10px 0px 0px 0px;
    }
    .detailSidebar {
      width: 90%;
      margin-top:10px;
      min-height: 150px;
      background: rgba(68,68,68,0.6);
      .border-top-radius(10px);
      .border-bottom-radius(10px);
      border: 1px solid rgba(0, 0, 0, 0.9);
      .box-shadow(0 3px 6px rgba(0, 0, 0, 0.36));
      color: @gray-light;    
      .businessName {
        padding: 5px;
        margin: 0px;
        border-bottom: 1px solid @gray;
        a {
          color: @gray-light;
        }
      }
      hr {
        color: @gray-darker;
        margin: 0px;
      }   
      dl {
        font-size: 12px;
        dt {

        }
        dd {
          margin-bottom: 10px;
          &.hasSocialMediaLinks {
            a {
              padding-right:5px;
              padding-top: 2px;
            }
          }
        }
      }   
    }
    .leftCol {
    }
    .rightCol {
      dl {
        dt {
          font-size: 1.2em;
        }      
        dd {
          margin-bottom: 10px;
          font-family: Helvetica, sans-serif;
          font-size: 0.9em;
          color: @gray;
        }
      }
    }
    .detailImage{ 
      img {
        width: 90%;
        .border-top-radius(10px);
        .border-bottom-radius(10px);
      }
    }
    .details {
      .tab-content {
        padding-left: 30px;
      }
      color: @text-color;
    }    
    .tab-content {
      padding: 10px;
      background: #ffffff;
    }    
  }
  .error-state, .emptyState {
    display:none;
    margin-top: 10px;
    background-color:#fff;
    text-align: center;
    border: 1px solid @gray-lighter;
    .border-bottom-radius(10px);
    .border-top-radius(10px);
    height: 300px; 
  }  
  .error-state {
    display:block;
  }
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #333;
  position:fixed;
  width:100%;
  
  .navbar-nav.small {
    position: absolute;
    right: 0px;
    top: 14px;
    h4 {color:#fff;font-family: 'Indie Flower', cursive;font-size: 1.8em;}
    li {float:right!important;list-style:none;}
    a.btn {
      padding: 5px!important;
      font-size: 0.8em;
      color: 
      #fff;
      font-weight: bold;
      padding: 4px!important;
      margin-right: 12px;
      float: right;
      i {
        margin-right:5px;
        color: #fff;
      }
    }
  }
  .navbar-nav.small.poweredBy {
    position: absolute;
    right: 80%;
    top: 14px;
    li {float:right!important;}
  
    a {
      padding: 5px!important;
      font-size: 1.1em;
      color: #06A1AF;
      padding: 4px!important;
      margin-right: 12px;
      float: left;
      img {
        margin-left:5px;
      }
    }
  }
  ul.footer-nav {
    width:30%;
    margin:20px auto 0px auto;
    
    li {
      a {color: #c5d645;text-decoration:underline;}
      float:left; list-style:none;margin-right:10px;color: #c5d645;font-size:.9em;}
    
  }
}

div#pageLoader {
  display:none;
  position: absolute;
  width: 100%;
  z-index: 9999;
   min-height: 100%;
  max-height: 100%;
  height: auto !important;
  height: 100%;
  text-align: center;
  padding-top: 250px;
  img {
    border-radius: @border-radius-large;
  }
}

.btn-default {
  color: #fff;
  background-color: @gray-darker;
}


/* Modals */
.modal-backdrop.in {
  opacity: 0.8;
}

.modal {
  .modal-dialog {
    width: 800px;
    text-align: center;
  }
  .modal-content {
    .box-shadow(none);
    border: 0px;
    border-radius: 0px;
    outline: none;
    background-clip: padding-box;    
    background: transparent;
    font-family: 'Indie Flower', cursive;
    color: #fff;
    form {
      padding: 20px 0px 10px 0px;
      input.email {
        width: 50%
      }      
    }
    .line1 {
      font-size: 2em;
    }
  }  
}
#weeklyRuckusSignup {
  .modal-content {

    .line2 {
      font-size: 4em;
    }
    .line3 {
      font-size: 2em;
    }
    .line4 {
      font-size: 1em;
    }   
  } 
}
#contactUs {
  .control-group {
    text-align: left;
  }
  textarea {
    height: 100px;
  }
}
#toHoopla {
  
}
#calModal{
  .modal-dialog{
    color: black;
    background-color: white;
    .modal-content {
      .box-shadow(none);
      border: 0px;
      border-radius: 0px;
      outline: none;
      background-clip: padding-box;    
      background: transparent;
      font-family: 'Indie Flower', cursive;
      color: #000;
      form {
        padding: 20px 0px 10px 0px;
        input.email {
          width: 50%
        }      
      }
      .line1 {
        font-size: 2em;
      }
    }  
  }

  
}
.eventSearchForm {
    label {
      color:#c5d645;font-weight:bold;
      em {font-weight:normal;font-size:.9em;}
      }
      .btn-success {background-color:#c5d645;color:#333;border-color:#333;}
      .buttons {
        a {color:#c5d645;text-decoration:underline;font-size:.8em;}
        padding-top:30px;}
  .form-group {
    padding-right: 2px;
    padding-left:2px;
  }
  .when {
    font-family: 'Montserrat', sans-serif;   
    font-size: 1.2em;
    label {font-size: 0.8em;
    display: block;}
    a {
      border: 1px solid @gray-lighter;
      .border-bottom-radius(3px);
      .border-top-radius(3px);
    }
    a.whenPrev {
      padding: 2px 5px 5px 2px;
    }
    a.whenNext {
      padding: 2px 2px 5px 5px;
    }    
    a, span {
      color: @white;
    }
    a:hover {
      text-decoration: none;
      color: @gray-light;
    }
    .whenSelected {
      display: inline-block;
      width: 50%;
      min-width: 50%;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

.eventGallery {
  padding-left: 3em;
  padding-right: 3em;
  .eventItem {
    margin-bottom: 20px;
    .thumbnail {
      text-align: center;
      border-radius: @border-radius-large;
      .cardHeader {
        text-align: left;
        padding: 14px 10px 0 10px;
        #gradient > .vertical(@start-color: #ffffff; @end-color: #f9f9f9);
        h4 {
          a{
            color: #464344; 
            font-size: 14px; 
          }
          font-family: Helvetica, Arial, sans-serif;
          font-size: 16px;
          font-weight: 700;
          margin: 0px;
          padding: 0px;
          height: 38px;
        }         
        .location, .additionalDates {
          height: 36px;
          color: #696868;
          a{
            color: #696868;
            font-size: 12px;
            i {
              color: red;
              padding-right: 2px;
            }
          }
        }
        .card-calendar {
          border-top: 3px double #ebebeb;
        }   
      }

      padding:0px;
      width: 100%;
      img {
        max-width: 100%;
        margin: 0px 0px 0px -1px;
      }

    }
  }
}