// Core variables and mixins
@import "variables.less";
@import "mixins.less";

a{
  cursor: pointer;
}
html,
body {
  height: 100%;
  background : url("../images/bg_tile.jpg")
}

#site-container {
  min-height: 100%;
  max-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
  padding: 0 0 60px;
  overflow: scroll;
  #header {
    background: url('../images/bg_header_dark.png');
    .navbar {
      margin-bottom: 0px;
    }
    .categoryButton {
      border-right: 1px solid @gray;
      display:inline-block;
      background-position-x: -15px;
      height: 71px;
      width: 70px;
      background: url('../images/category-icons-with-hover.png') no-repeat;
      &:hover {
        background-position-x: -75px;
      }
      &.music {
        background-position-y: -150px;
      }
      &.arts {
        
      }    
      &.all {
        background-position-y: -75px
      }  
      &.family {
        background-position-y: -300px
      }  
      &.food {
        background-position-y: -230px;
      }              

    }
    .searchForm {
      margin-top: 20px;
      input {
        background-color: @gray-darker;
        color: #fff;
        min-width: 400px; 
      }
    }
    .subNav {
      height: 40px;
      #gradient > .vertical(@start-color: #7d7e7d; @end-color: #0e0e0e);
      margin-bottom: 15px;
      margin-top: -5px;
      a {
        i {
          padding-right: 3px;
        }
        display: inline-block;
        color: @gray-lighter;
        text-decoration: none;
        min-width: 50px;
        padding-right: 10px;
      }

    }
  }
  #main{
    .home-page, .event-detail, .business-detail {
      padding: 120px 15px 0;
      background: url("../images/bg_vh.jpg") 0 0 repeat-x;
      background-attachment: fixed;
      min-height: 720px;    
    }
    .eventGalleryHeader {
      text-align: center;
      .nearGroup {
        width: 50%;
        input {
          background-color: @gray-darker;
          color: #fff;
          min-width: 400px; 
        }        
      }
      padding-bottom: 10px;
    }
    .eventGallery {
      padding-left: 3em;
      padding-right: 3em;
      .eventItem {

        margin-bottom: 20px;
        .thumbnail {
          min-height: 200px;
          max-height: 200px;
        }
      }
    }    
  }
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

.event-detail, .business-detail {
  margin: 3em;
  h2 {
    color: @gray-lighter;
  }
}
.event-detail {
  .details {
    border-radius: @border-radius-large;
    background: #ffffff;
    color: #000000;
  }
}
.business-detail {
  .tab-content {
    padding: 10px;
    background: #ffffff;
  }
  #businessTab {
  }
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;

}
.navbar-fixed-top {
  background: url('../images/bg_header_dark.png');
}

div#pageLoader {
  display:none;
  position: absolute;
  width: 100%;
  z-index: 9999;
   min-height: 100%;
  max-height: 100%;
  height: auto !important;
  height: 100%;
  text-align: center;
  padding-top: 250px;
  img {
    border-radius: @border-radius-large;
  }
}

.btn-default {
  color: #fff;
  background-color: @gray-darker;
}


/* Modals */
.modal-backdrop.in {
  opacity: 0.8;
}

.modal {
  .modal-dialog {
    width: 800px;
    text-align: center;
  }
  .modal-content {
    .box-shadow(none);
    border: 0px;
    border-radius: 0px;
    outline: none;
    background-clip: padding-box;    
    background: transparent;
    font-family: 'Indie Flower', cursive;
    color: #fff;
    form {
      padding: 20px 0px 10px 0px;
      input.email {
        width: 50%
      }      
    }
    .line1 {
      font-size: 2em;
    }
  }  
}
#weeklyRuckusSignup {
  .modal-content {

    .line2 {
      font-size: 4em;
    }
    .line3 {
      font-size: 2em;
    }
    .line4 {
      font-size: 1em;
    }   
  } 
}
#contactUs {
  .control-group {
    text-align: left;
  }
  textarea {
    height: 100px;
  }
}