<div class="row">
  <div class="staticState col-md-8 col-md-offset-2">
    <h2>Get the Local Ruckus mobile app</h2>
    <p>Looking to find events directly from your mobile device? Get the Local Ruckus mobile app on your iOS and Android powered devices.<br><br></p>
    <p class="col-md-6 col-xs-12 col-sm-5">
    	<a href="http://ruck.es/1jiCSVR" title="Get Local Ruckus for Android"><img src="client/images/android_badge.png" width="200" height="60" alt="Get Local Ruckus for Android" border="0" /></a></p>
  <p class="col-md-6 col-xs-12 col-sm-5">
<a href="http://ruck.es/1gKQmvm" title="Get Local Ruckus for iOS"><img src="client/images/ios_badge.png" width="200" height="60" alt="Get Local Ruckus for iOS" border="0" /></a>
    </p> 
<div class="col-md-12"><img src="client/images/LR-APP-Screen.png" class="img-responsive" style="display:inline;"></div>  
  </div>
  
</div>