<div class="row eventGalleryHeader">
  <div class="col-md-12 eventSearch">
  </div>
</div>
<div class="eventGallery"></div>
<div class="eventGalleryFooter" style="display:none;">
  <a class="btn btn-default btn-block loadMore">Load More Events</a>
</div>