<div class="row eventGalleryHeader">
  <div class="col-md-12 eventSearch">
  </div>
</div>
<div class="eventGallery"></div>
<div class="eventGalleryFooter" style="height:100px;width:100%;margin-left:50%;padding-bottom:5%;margin-bottom:5%;">
  <a class="btn btn-success btn-lg loadMore">Load More Events</a>
</div>