<div class="row">
  <div class="error-state col-md-8 col-md-offset-2">
    <h2>Sorry, we couldn't find any the page you requested.</h2>
    <h4><a href="/">Click here</a> to discover more local events near you at LocalRuckus</h4>
  </div>
</div>