<form class="form-inline eventSearchForm" role="search">
  <div class="form-group col-md-2 col-md-offset-1 keyword">
<label for="keyword">WHAT</label>
    <input type="text" class="form-control" placeholder="What (Keyword, Category, Venue, etc...)" name="keyword" value="{{search.keyword}}" />
  </div>  
  <div class="form-group col-md-2 tag" style="height:10%">
    <label for="tags">CATEGORY</label>
    <select data-placeholder="Choose a category..." class="chosen-select tag_chosen" name="tags" value="{{search.tags}}">
    <option value="" />
          </select>
  </div>
  <div class="form-group col-md-2 where">
<label for="near">WHERE</label>
    <input type="text" class="form-control" placeholder="Where " name="near" value="{{search.near}}" />
  </div>    
  <div class="form-group col-md-1">
<label for="radius">RADIUS</label>
    <select name="radius" class="form-control">
      <option value="161">2 blocks</option>
      <option value="646">8 blocks</option>
      <option value="1609">1 mile</option>
      <option value="8047">5 miles</option>
      <option value="16093" selected="selected">10 miles</option>
      <option value="32186">20 miles</option>
      <option value="80467">50 miles</option>
    </select>
  </div>
  <div class="form-group col-md-2 when">
<label>WHEN</label>
      <a class="glyphicon glyphicon-backward whenPrev"></a><span class="whenSelected">Anytime</span><a class="glyphicon glyphicon-forward whenNext"></a>
  </div>
  <div class="form-group col-md-1 buttons">
	
    <button type="submit" class="btn btn-success">SEARCH</button></br>
<a type="reset" class="reset">Clear Form</a>
  </div>
</form>  