<div class="row">
<ul class="nav navbar-nav small poweredBy">
<li><a data-toggle="modal" href="#toHoopla"><img src="/client/images/poweredBy.png" alt="Powered by Hoopla.io"></a>    
</ul>
<div class="pull-right hidden-xs app-promo"><a href="https://itunes.apple.com/us/app/local-ruckus/id780877106?mt=8&uo=4" target="itunes_store"style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_appstore-lrg.png) no-repeat;width:135px;height:40px;@media only screen{background-image:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_appstore-lrg.svg);}"></a> </div>
<ul class="footer-nav">
	<li><a href="/terms">Terms</a></li> 
	<li><a href="/privacy">Privacy</a></li> 
	<li>© 2013 Local Ruckus</li>
</ul>

</div>