<div class="row">
<ul class="nav navbar-nav small poweredBy">
<li><a href="http://hoopla.io"><img src="/client/images/poweredBy.png" alt="Powered by Hoopla.io"></a>    
</ul>
<ul class="nav navbar-nav small footer-cta">
<li><a data-toggle="modal" href="#contactUs" class="suggestBusiness btn btn-info btn-sm"><i class="glyphicon glyphicon-plus"></i>Suggest a Business or Event</a></li>
   <li><a href="http://www.hoopla.io" target="blank" class="btn btn-info btn-sm"><i class="glyphicon glyphicon-plus"></i>Add Events via Hoopla.io</a></li>
   
 </ul>
<ul class="footer-nav">
	<li><a href="/terms">Terms</a></li> 
	<li><a href="/privacy">Privacy</a></li> 
	<li>© 2013 Local Ruckus</li>
</ul>

</div>