<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-header col-md-offset-1 col-sm-offset-0">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
    </button>    
    <a class="navbar-brand" href="#"><img src="/client/images/logo.png" /></a>
  </div>
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li><a class='categoryButton all' href="/"></a></li>
      <li><a class='categoryButton music' href="/music"></a></li>
      <li><a class='categoryButton arts' href="/art"></a></li>
      <li><a class='categoryButton family' href="/family"></a></li>
      <li><a class='categoryButton food' href="/food"></a></li>
    </ul>  
    <ul class="nav navbar-nav ">
      <li><a href="http://blog.localruckus.com">Blog</a></li>
      <li><a data-toggle="modal" href="#contactUs">Contact</a></li>
      <li><a data-toggle="modal" href="#weeklyRuckusSignup"><i class="glyphicon glyphicon-envelope"></i>Sign Up for the Weekly Ruckus </a></li>    
    </ul>
  </div>
</nav>
<!-- Modal For Weekly Ruckus Signup-->
<div class="modal fade" id="weeklyRuckusSignup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div>
            <p class="line1">Want cool Kansas City events emailed to you?</p>
            <p class="line2">Sign up for the Weekly Ruckus!</p>
            <p class="line3">We sent it out every Wednesday</p>
            <div id="mc_embed_signup">
              <form action="http://localruckus.us2.list-manage2.com/subscribe/post?u=d2b457944167b9bbd9049f61a&amp;id=feeb91d8e6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
              <div class="mc-field-group">
                <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn">
              </div>
                <div id="mce-responses" class="clear">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
                </div>  <div class="clear"></div>
              </form>
            </div>
            <p class="line4">Don't worry, you can unsubscribe at any time</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal For Contact Us -->
<div class="modal fade" id="contactUs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div>
            <p class="line1">Questions or Comments?</p>
            <form role="form" class="contactForm">
              <div class="control-group">
                <label for="name">Your Name <span class="required">*</span></label>
                <input type="text" name="name" class="form-control" />
              </div>
              <div class="control-group">
                <label for="email">Your Email Address <span class="required">*</span></label>
                <input type="email" name="email" class="form-control" />
              </div>             
              <div class="control-group">
                <label for="name">Alright, what's on your mind? <span class="required">*</span></label>
                <textarea name="text" class="form-control" />
              </div>
              <div class="control-group">
                <button type="submit" class="btn btn-default">Send</button>
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>