<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-header col-md-offset-1 col-sm-offset-0">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
    </button>    
    <a class="navbar-brand" href="#"><img src="/client/images/logo.png" /></a>
  </div>
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li><a class='categoryButton all' href="/"></a></li>
      <li><a class='categoryButton music' href="/music"></a></li>
      <li><a class='categoryButton arts' href="/art"></a></li>
      <li><a class='categoryButton family' href="/family"></a></li>
      <li><a class='categoryButton food' href="/food"></a></li>
    </ul>  
    <ul class="nav navbar-nav small"><li><a data-toggle="modal" href="#toHoopla">Powered by Hoopla.io<img src="/client/images/3dots_sm.png"></a></li>   
<h4>The best place to find & discover local events near you.</h4>  
 
    </ul>
  </div>
</nav>

</div>