<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-header col-md-offset-1 col-sm-offset-0">
    <a class="navbar-brand" href="/"><img src="/client/images/logo.png" /></a>
  </div>
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li><a class='categoryButton all' href="/"></a></li>
      <li><a class='categoryButton music' href="/music"></a></li>
      <li><a class='categoryButton arts' href="/art"></a></li>
      <li><a class='categoryButton family' href="/family"></a></li>
      <li><a class='categoryButton food' href="/food"></a></li>
    </ul>  
    <ul class="nav navbar-nav small pull-right"><li><a target="blank" href="http://hoopla.io"><img src="/client/images/poweredBy.png" alt="Powered by Hoopla.io"></a></li>   
<h4 class="hidden-sm hidden-xs hidden-md">The best place to find & discover local events near you.</h4>  
 
    </ul>
  </div>
</nav>

</div>