<div class="row-fluid">
  <div class="col-lg-3">
    <a href="#" class="thumbnail">
      <img data-src="http://placehold.it/200x200" alt="">
    </a>
  </div>
  <div class="col-lg-3">
    <a href="#" class="thumbnail">
      <img data-src="http://placehold.it/200x200" alt="">
    </a>
  </div>
  <div class="col-lg-3">
    <a href="#" class="thumbnail">
      <img data-src="http://placehold.it/200x200" alt="">
    </a>
  </div>
  <div class="col-lg-3">
    <a href="#" class="thumbnail">
      <img data-src="http://placehold.it/200x200" alt="">
    </a>
  </div>
  <div class="col-lg-3">
    <a href="#" class="thumbnail">
      <img data-src="http://placehold.it/200x200" alt="">
    </a>
  </div>        
</div>