<div class="row eventGalleryHeader">
  <div class="col-md-12">
    <form class="form-inline" role="search">
      <div class="form-group nearGroup">
        <input type="text" class="form-control" placeholder="Where are you?" name="near" style="text-align:center;"  />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-default">Start a Ruckus!</button>
      </div>
    </form>  
  </div>
</div>
<div class="eventGallery">
</div>