<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/client/images/favicon.png">
    <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/client/stylesheets/app.css">
    <script src="/client/javascripts/vendor.js"></script>
    <script src="/client/javascripts/app.js"></script>
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "c9e6f8c4-0e4d-4366-984e-82d83ff9381f"});</script><script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "c9e6f8c4-0e4d-4366-984e-82d83ff9381f"});</script>  
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->    
    <script>require('initialize');</script>
  </head>
  <body>
      {{#if development}}
      <script>
        window.brunch = window.brunch || {};
        window.brunch['auto-reload'] = "{disabled: true}";
      </script>
      {{/if}}
      <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>  
      <script>
        window.facebookClientId = "{{facebookClientId}}";
        $.cloudinary.config({ cloud_name: '{{cloudinary.cloudName}}'});
        window.baseUrl = "{{baseUrl}}";
      </script>
      <script>
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{googleAnalytics.code}}']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>    
      <script type="text/javascript" src="http://assets.freshdesk.com/widget/freshwidget.js"></script>
      <style type="text/css" media="screen, projection">
        @import url(http://assets.freshdesk.com/widget/freshwidget.css); 
      </style> 
      <script type="text/javascript">
        FreshWidget.init("", {"queryString": "&widgetType=popup", "widgetType": "popup", "buttonText": "Feedback", "buttonColor": "white", "buttonBg": "#afc70e", "backgroundImage": "", "alignment": "4", "offset": "350px", "formHeight": "500px", "url": "http://localruckus.freshdesk.com"} );
      </script>      
  </body>
</html>
